*{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.img2 {
  
  background-color:black;
  border-radius: 27px;
  text-align: justify;
  width: 18%;
  text-align: center;
  color: black;
}

.img3 {
 
  background-color: black;
  border-radius: 27px;
  width: 18%;
  
}
.img4 {
  
  background-color: black;
  border-radius: 27px;
  width: 18%;
}

.img5 {
  
  background-color: black;
  border-radius: 27px;
  width: 20%;
  
}

.img{
  font-size: 100%;
  text-align: center; 
  display: flex; 
  gap: 100px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  
 
}

.img2:hover{
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(36, 28, 28, 0.979);
}

.img3:hover{
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(36, 28, 28, 0.979);
}

.img4:hover{
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(36, 28, 28, 0.979);
}

.img5:hover{
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(36, 28, 28, 0.979);
}

h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 500%;
}

h2{
  color: aliceblue;
  background-color: black;
  border-radius: 27px;
}

p{
  font-size: 80%;
  color: aliceblue;
  background-color: black;
  border-radius: 27px;
 
}



@media (width <= 600px){
  *{
    padding: 0px;
    margin: 10px;
  }

  .img{
    gap: 400px;
    display: inline-block;
  }
  .img2{
    width: 350px;
    display: inline-block;
    
  }
  .img3{
    width: 350px;
    display: inline-block;
  }
  .img4{
    width: 350px;
    display: inline-block;
  }
  .img5{
    width: 350px;
    display: inline-block;
  }
}



@media (601px <= width <= 1199px){
  *{
    padding: 0px;
    margin: 10px;
  }

  p{
    font-size: 120%;
  }
  .img{
    gap: 100px;
    display: inline-block;
  }
  .img2{
    width: 800px;
    display: inline-block;
    
  }
  .img3{
    width: 800px;
    display: inline-block;
  }
  .img4{
    width: 800px;
    display: inline-block;
  }
  .img5{
    width: 800px;
    display: inline-block;
  }
}

@media (1200px <= width <= 1336px){
  *{
    padding: 0px;
    margin: 10px;
  }

  p{
    font-size: 90%;
  }
  .img{
    gap: 10px;
    display: inline-block;
  }
  .img2{
    width: 430px;
    height: 400px;
    display: inline-block;
    
  }
  .img3{
    width: 430px;
    height: 400px;
    display: inline-block;
  }
  .img4{
    width: 430px;
    height: 400px;
    display: inline-block;
  }
  .img5{
    width: 430px;
    height: 400px;
    display: inline-block;
  }
}


  
